*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{

background:linear-gradient(
135deg,
#0f172a,
#1e293b,
#0f172a
);

height:100vh;
overflow:hidden;
}

.app{

display:flex;
height:100vh;
padding:20px;
gap:20px;
}

/* SIDEBAR */

.sidebar{

width:280px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

border-radius:25px;

padding:25px;

color:white;

display:flex;
flex-direction:column;
}

.logo{

font-size:28px;
font-weight:bold;
margin-bottom:30px;
}

.uploadBox{

display:flex;
flex-direction:column;
gap:15px;
}

.uploadBox input{

padding:10px;
border-radius:10px;
}

.uploadBox button{

padding:12px;

border:none;

border-radius:15px;

cursor:pointer;

font-size:15px;

transition:.3s;
}

.uploadBox button:hover{

transform:scale(1.05);
}

.history{

margin-top:40px;
}

.history h3{

margin-bottom:15px;
}

.historyItem{

padding:12px;

margin-bottom:10px;

border-radius:12px;

background:rgba(255,255,255,0.1);

cursor:pointer;
}


/* MAIN */

.main{

flex:1;

display:flex;

flex-direction:column;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:25px;

padding:30px;
}

.header{

color:white;
margin-bottom:20px;
}

.header h1{

font-size:40px;
}

.header p{

opacity:.8;
margin-top:10px;
}

.chatContainer{

flex:1;

overflow-y:auto;

padding:20px;

display:flex;
flex-direction:column;
gap:20px;
}

.message{

padding:15px 20px;

max-width:70%;

border-radius:20px;

line-height:1.5;

animation:fade .4s ease;
}

.user{

align-self:flex-end;

background:#2563eb;

color:white;
}

.ai{

align-self:flex-start;

background:white;
}

.inputArea{

display:flex;

gap:15px;

margin-top:20px;
}

.inputArea textarea{

flex:1;

height:70px;

padding:15px;

border:none;

border-radius:20px;

font-size:16px;

outline:none;

resize:none;
}

.inputArea button{

padding:0 35px;

border:none;

border-radius:20px;

background:#2563eb;

color:white;

cursor:pointer;

font-size:16px;

transition:.3s;
}

.inputArea button:hover{

transform:scale(1.05);
}


@keyframes fade{

from{

opacity:0;
transform:translateY(15px);

}

to{

opacity:1;
transform:translateY(0px);

}

}